.page-about {
	display: flex;
	justify-content: center;
}

.page-about>article {
	width: 50%;
}

.page-about>article>img {
	width: 50%;
	float: left;
	margin-right: 1em;
}

@media screen and (max-width: 700px) {
	.page-about>article {
		width: 100%;
	}
}

@media screen and (max-width: 440px) {
	.page-about>article>img {
		width: 100%;
		float: none;
	}
}