.page-contact {
	display: flex;
	justify-content: space-around;
}

.page-contact>section {
	width: 50%;
	min-width: 408px;
}

.page-contact>section>form {
	display: flex;
	flex-direction: column;
}

.page-contact>section>form>label {

	display: flex;
	justify-content: space-between;
}

.page-contact>section>form>label:not(:first-child) {
	margin-top: 1.5em;
}

.page-contact>section>form>span {
	margin-top: 1.5em;
	margin-bottom: 1.5em;

	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.page-contact>section>form>span>* {
	margin: 0;
}

.page-contact>section>form>span>button {
	padding: .5em 1em;
	align-self: flex-end;
}

@media screen and (max-width: 440px) {
	.page-contact>section {
		width: 100%;
		min-width: initial;
	}
}