.page-portfolio {}

.page-portfolio>section {
	display: flex;

	flex-direction: row;
	flex-wrap: wrap;

	gap: 1em;
}

@media screen and (max-width: 1070px) {
	.page-portfolio>section {
		flex-direction: column;
		flex-wrap: nowrap;
	}
}