:root {
	/* COLORS */
	--color-primary: #097B4A;
	--color-primary-dark: #13975e;
	--color-secondary-1: #E51010;
	--color-secondary-1-dark: #d12d27;
	--color-secondary-2: #F7B32B;
	--color-secondary-2-dark: #e69d3f;
	--color-secondary-3: #556A82;
	--color-secondary-3-dark: #4882a1;
	--color-secondary-4: #65743A;
	--color-secondary-4-dark: #718637;

	--color-neutral-1: #2D1E2F;
	--color-neutral-2: #101D42;
	--color-neutral-3: #E9E3E6;
	--color-neutral-4: #B7E3CC;

	--text-light: white;
	--text-dark: black;
	--text-link: blue;
	--text-link-used: purple;
}

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

*:focus-visible {
	outline-offset: 2px;
	outline-style: dashed;
	outline-color: white;
	outline-width: 3px;
}

input[type="text"],
input[type="email"],
textarea {
	background-color: var(--color-neutral-2);

	border-style:inset;

	border-color: var(--color-neutral-3);
	border-width: 1px;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
	border-style:solid;
}

button {
	background-color: var(--color-secondary-1);
	border: none;
}

button:hover {
	background-color: var(--color-secondary-1-dark);
}

body {
	background-color: var(--color-neutral-1);

	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}